.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.time-control {
  width: 50%;
  display: flex;
  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
    }
  }
  p {
    padding: 0.9rem;
  }
}
.play-control {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    cursor: pointer;
  }
}

.track {
  width: 100%;
  height: 1rem;
  margin: 1rem 0rem;
  position: relative;
  background-color: cadetblue;
  overflow: hidden;
  border-radius: 20rem;
}

.animate-track {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(10%);
  pointer-events: none;
}
